body {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-bottom: 2px solid #ddd;
}

.logo {
  text-decoration: none;
  font-size: 1.5em;
  color: #333;
  font-weight: 700; /* Apply Orbitron font weight */
}

.logo-svg {
  width: 8vh;
  height: 8vh;
  margin-top: 1.2vh;
  margin-bottom: 0.8vh;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500; /* Apply Orbitron font weight */
}

.content {
  display: flex;
  height: 80vh;
  background-color: #e0e0e0;
  padding: 20px;
}

.left-side {
  flex: 1;
  display: flex;
  margin-left: 1rem;
  flex-direction: column;
  justify-content: center;
}

.right-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  max-width: 100%;
  max-height: 80vh; /* Restrict the maximum height */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
}

h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: 700; /* Apply Orbitron font weight */
}

h2 {
  font-size: 1.5em;
  margin: 10px 0 0 0;
  font-weight: 400; /* Apply Orbitron font weight */
}

section {
  padding: 20px;
}

section h2 {
  margin-top: 40px;
  font-weight: 700; /* Apply Orbitron font weight */
}
