body{
  margin: 0;
  padding: 0;
  background: url(pexels-austin-guevara-237898.jpg) no-repeat;
  background-size: cover;
}
.box{
  width: 450px;
  background: rgb(0 0 0 / 67%);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  border-radius: 5%;
  color: #e7e1da;
  font-family: monospace;
}
.box-img{
  border-radius: 50%;
  width: 210px;
  height: 210px;
}
.box h1{
  font-size: 80px;
  letter-spacing: 4px;
  font-weight: 100;
  transition: all cubic-bezier(0.39, 0.58, 0.57, 1) 600ms;
}
.box h1:hover{
  color: rgb(252 153 0);
}
.box h5{
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 100;
  transition: all cubic-bezier(0.39, 0.58, 0.57, 1) 600ms;
}
.box h5:hover{
  color: rgb(255 239 196);
}
.box p{
  text-align: left;
  font-size: 15px;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 300ms;
}
.box li a:hover{
  color: #ffda81;
}
